@import url('framework.css');

body {
	font: 20px 'Open Sans', sans-serif;
	color: #444;
}
main {
  margin: 0 40px 0 40px;
}
h1, h3 {
	text-align: center;
	font-weight: 400;
	margin: 0;
}
h3 {
	font-size: 1.5em;
}
h1 {
	font-size: 3.6em;
	letter-spacing: 0.4px;
	padding-top: 235px;
}
a {
	text-decoration: none;
}
header {
	color: white;
	/* margin: 50px -40px 0 -40px; */
  margin-top: 50px;
	background: url('images/front.jpg') -140px 0 no-repeat;
	padding-bottom: 60px;
}	
header img {
	position: absolute;
	top: 200px;
	left: 47%;
}
header nav {
	background: #fff;
	position: fixed;
  top: 0;
  width: 100%;
	border-top: 10px solid #F5F5F5;
	border-bottom: 1px solid #EEE;
}
header ul {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
header li {
  display: inline-block;
  margin: 0 25px;
}
header a {
	color: #444;
	text-transform: uppercase;
	font-size: 0.66em;
	line-height: 340%;
}
section {
	padding: 60px 0;
	border-bottom: 1px solid #EEE;
}
section h2,
section p {
	text-align: center;
	font-weight: 300;
}
section h2 {
	font-size: 2.4em;
}
section p {
	font-size: 0.8em;
	line-height: 150%;
	padding-top: 6px;	
}
section button {
	display: block;
	text-align: center;
	font-weight: 700;
	letter-spacing: -0.6px;
	color: white;
	background: #008000;
	border: none;
	margin: 15px auto; 
	padding: 12px 32px;
	font-size: 0.8em;
}



