@import url('framework.css');

body {
	font: 20px 'Open Sans', sans-serif;
	color: #444;
}
main {
  margin: 0 35px 0 35px;
}
h1, h3 {
	text-align: center;
	font-weight: 400;
	margin: 0;
}
h3 {
	font-size: 1.5em;
}
h1 {
	font-size: 3.6em;
	letter-spacing: 0.4px;
}
a {
	text-decoration: none;
}
section a {
  color: #008000;
  font-weight: 800;
}
header {
	color: white;
  margin-top: 50px;
	background: url('images/front.jpg') -300px 0 no-repeat;
	padding-bottom: 60px;
}	
.center {
  text-align: center;
}
header img {
  padding-top: 160px;
}
header nav {
	background: #fff;
	position: fixed;
  top: 0;
  width: 100%;
	border-top: 10px solid #F5F5F5;
	border-bottom: 1px solid #EEE;
}
header ul {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
header li {
  display: inline-block;
  margin: 0 25px;
}
header a {
	color: #444;
	text-transform: uppercase;
	font-size: 0.66em;
	line-height: 340%;
}
section {
	padding: 60px 0;
	border-bottom: 1px solid #EEE;
  margin: 0 auto;
  text-align: center;
}
section h2,
section p {
	text-align: center;
	font-weight: 300;
}
section h2 {
	font-size: 2.4em;
}
section p {
	font-size: 0.8em;
	line-height: 150%;
	padding: 6px 0;	
}
section .button-link {
	display: block;
	text-align: center;
	font-weight: 700;
	letter-spacing: -0.6px;
	color: white;
	background: #008000;
	border: none;
	margin: 6px auto 15px auto; 
	padding: 10px 32px;
	font-size: 0.8em;
  width: 180px;
}
#speakers-intro {
  max-width: 980px; 
}
#speakers-intro figure {
  text-align: center; 
  display: inline-block;
  border: 1px solid #EEE;
  margin: 5px;
  vertical-align: top;
}
#speakers-intro figcaption h5 {
  font-size: 1.2em;
  font-weight: 700; 
  color: #008000;
  padding-top: 25px;
}
#speakers-intro figcaption p {
  font-size: 0.8em;
  font-weight: 300;
  line-height: 165%;
  height: 80px;
  max-width: 280px;
}
#schedule {
  max-width: 960px;
}
#schedule table {
  width: 100%;
  text-align: left;
}
#schedule img {
  float: right;
  padding-left: 20px;
  max-height: 100px;
}
#schedule td {
  font-size: 1.2em;
  padding: 10px;
  border-top: 1px solid #EEE;
}
#schedule h5 {
  font-size: 0.8em;
  font-weight: 700; 
  color: #008000;
}
#schedule span {
  background: #EEE;
  border: 1px solid grey;
  padding: 0 4px;
  font-size: 0.29em;
}
#location p:first-of-type {
  font-weight: 800;
}
#location p {
  text-align: left;
  max-width: 960px;
  margin: 0 auto;
}
iframe {
  pointer-events:none;
  width: 100%;
  padding: 30px 0;
}
#papers p {
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
}
#papers .button-link {
  text-align: left;
  margin: 10px 0 6px 0;
  font-size: 1em;
}
#sponsors {
  max-width: 960px;
  text-align: left;
}
#sponsors p {
  font-weight: 800;
  text-align: left;
  padding-top: 20px;
}
#platinum img {
  width: 300px;
}
#gold img {
  width: 300px;
}
#silver img {
  width: 240px;
}
#support img {
  width: 200px;
}
@media (max-width: 655px) {
  header {
    margin-top: 0;
    padding-bottom: 40px;
  }
  header nav {
  display: none;
}
header img {
  padding-top: 100px;
  }
  header h1 {
    font-size: 2em;
  }
  header h3 {
    font-size: 1em;
  }
}

