
@import url("reset.css");

body { 
	font: normal 20px 'Nunito', sans-serif;
	color: #45494d;
	background: #2f2840 url('images/bg_body.gif') 50% 0 repeat; 
}
header {
  padding: 100px 0 62px 0;
  text-align: center;
}
header h1 a {
  display: block;
  text-indent: -9999px;
  width: 298px;
  height: 243px;
	background: transparent url("images/logo.png") 0 0 no-repeat;
  margin: 0 auto;
}
a {
	text-decoration: none;
	color: #3e59b2;
}
nav {
	font-size: 24px;
  letter-spacing: 0.4px;
	text-transform: uppercase;
}
nav ul {
  padding: 48px 0 0 0;
}
nav li {
	display: inline;
	padding: 0 42px;
}
nav a {
	color: #cacaca;
} 
nav a.active {
	font-weight: bold;
	color: #6db9ff;
}
main {
	background: #fff;
  padding: 0 20% 70px 20%; 
}
h2 {
  font-size: 36px;
	font-weight: 700;
  text-align: center;
  padding: 100px 0 30px 0;
}
h2::before,
h2::after {
	display: inline-block;
	padding: 0 24px;
	font-size: 22px;
	vertical-align: 5px;
	content: "\2022";
}
p {
  letter-spacing: 1px;
  padding: 0 0 50px 0;
}
h3 {
	color: #3e59b2;
  text-align: center;
  font-size: 24px;
  padding: 0 0 30px 0;
}
footer {
	color: #b2b2b2;
	background: #e7e7e7;
  font-size: 20px;
  text-align: center;
  padding: 90px 0;
}
footer li {
  display: inline-block;
  padding: 0 60px;
}
footer li a {
  display: block;
  height: 46px;
  width: 46px;
  text-indent: -9999px;
  overflow: hidden;
  background: transparent url("images/icons_social-media.png") 0 0 no-repeat;   
}
footer a.facebook {
  background-position: 0 -46px;
}
footer a.email {
  background-position: 0 -92px;
}
footer a.instagram {
  background-position: 0 -138px;
}


/* ********************************************* */
/* media queries*/ 
/* ********************************************* */

@media (max-width: 768px) {
  header {
    padding: 70px 0 28px 0;
  }
  header h1 a {
    width: 223px;
    height: 182px;
    background-size: cover;
    margin: 0 auto 26px auto;
  }
  nav ul {
    padding: 0;
  }
  main {
    text-align: justify;
    padding: 0 40px 40px 40px; 
  } 
  h2 {
    padding: 70px 0 30px 0;
  }
  p {
    padding: 0 0 50px 0;
  }
  footer {
    padding: 60px 0 40px 0;
  }
  footer li {
    padding: 0 30px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 15px 0 15px 0;
  }
  header h1 {
    float: left;
    width: 60%;
    padding-top: 20px;
  }
  header h1 a {
    width: 90px;
    height: 50px;
    background-size: cover;
    margin: 0;
    color: white;
  }
  header h1:after {
    position: absolute;
    top: 46px;
    left: 74px;
    content: "Space Design";
    color: white;
  }
  header ul {
    text-align: right;
    font-size: 18px;
  }
  header li {
    display: block;
    padding: 5px 22px;
    font-size: 16px;
  }
  h2 {
    font-size: 26px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    padding: 0 0 30px 0;
  }
  footer li {
    padding: 0 18px;
  }
}


/* ********************************************* */
/* project styles */ 
/* ********************************************* */

#projects img {
  display: block;
  max-width: 960px;
  width: 94%;
  margin: 0 auto;
  padding-bottom: 30px;
}
#projects {
  padding: 0 0 20px 0;
}
#projects p {
  max-width: 800px;
  width: 94%;
  border-bottom: 1px solid #cccccc;
  padding: 0 0 50px 0;  
  margin: 0 auto 60px auto;
}
#projects article:last-of-type p {
  border-bottom: 0;
  margin-bottom: 0;
}


/* ********************************************* */
/* team styles */ 
/* ********************************************* */

#team  {
  padding: 0 15% 70px 15%;
}
#team ul {
  text-align: center;
}
#team li {
  display: inline-block;
  padding: 0 30px;
}
figure {
  margin: 0;
  padding: 0;
}
#team li:last-child {

}
