
@import url("assets/reset.css");

body { 
	font: normal 20px 'Nunito', sans-serif;
}
header {
	background: #2f2840 url('images/bg_body.gif') 50% 0 repeat; 
	width: 100%;
	text-align: center;
	padding-bottom: 54px;
}
h2::before,
h2::after {
	content: '\2022';
	padding: 0 20px;
	font-size: 28px;
}
section h2::after {
	content: &bull;;
}
header img {
	padding-top: 136px;
	padding-bottom: 126px;
}
header nav a {
  color: #cacaca;
	padding: 0 45px;
	font-size: 26px;
	text-transform: uppercase;
}
header nav a.active {
	color: #6db9ff;
	font-weight: bold;
}
main {
	text-align: center;
}
.index-col {
	margin: 0 20%;
}
.projects-col {
	padding: 0 10%;
}
.projects-col p {
	padding: 0 10%;
}
section {
	margin: 80px 0 32px 0;
}
section img {
	margin: 0 auto;
}
#bullet {
	margin: 0 28px;
	font-size: 30px;
}
a {
	text-decoration: none;
}
h2 {
	color: #45494d;
	font-size: 36px;
	line-height: 54px;
}
h2:selected {
	color: #6db9ff;
}
h3 {
	font-size: 24px;
	line-height: 36px;
	color: #3e59b2;
}
p {
	color: #45494d;
	line-height: 30px;
}
footer {
	padding-top: 88px;
	margin-top: 130px;
	text-align: center;
	background-color: #e7e7e7;
}
footer li {
	display: inline-block;
	padding: 28px 104px 78px 24px;
}
footer p {
	color: #bababa;
	margin: 0;
}
footer li a {
	background: red;
	display: block;
	width: 46px;
	height: 46px;
	background: transparent url(images/icons_social-media.png) 0 0 no-repeat;
}
footer li a.facebook {
	background-position: 0 -46px;
}
footer li a.email {
	background-position: 0 -92px;
}
footer li a.instagram {
	background-position: 0 -138px;
}
dl {
	display: inline-block;
	margin-right: 68px;
	padding-top: 108px;
	padding-bottom: 108px
}
dl:last-of-type {
	margin-right: 0;
}
dd {
	margin: 0 auto;
}
